[submodule "MODULES/PROTOCALLBACKS/nanopb"]
	path = MODULES/PROTOCALLBACKS/nanopb
	url = git@github.com:william-redenbaugh/nanopb.git
[submodule "HAL/WS2812Serial"]
	path = HAL/WS2812Serial
	url = git@github.com:PaulStoffregen/WS2812Serial.git
[submodule "HAL/SSD1351-OLED-DMA"]
	path = HAL/SSD1351-OLED-DMA
	url = git@github.com:william-redenbaugh/SSD1351-OLED-DMA.git
[submodule "DS_HELPER/Red-Black-Tree"]
	path = DS_HELPER/Red-Black-Tree
	url = git@github.com:william-redenbaugh/Red-Black-Tree.git
